
.profile-pic{
  padding-right: 10px;
}

.name{
  padding-left: 10px;
}

.project{
  font-weight: bold;
}

.project-accomplishments{
  padding-left: 20px;
  margin: 7px 0px 18px;
}

.bold{
  font-weight: 900;
  font-size: 14px;
}

.education{
  padding-left: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}

.education-description{
  padding-left: 50px;
  font-size: 15px;
  margin-bottom: 22px;
}

.footer-container{
  padding: 15px 0px 10px;
  text-align: center;
}

.footer-link{
  padding: 0px 5px;
}

.lol{
  color: #808080;
}

body{
  margin-left: 10px;
}

h1{
  margin-bottom: 15px;
}

body table tr td img{
  border-radius: 100px;
  border: 1px solid grey;

}

body{
  text-align: left;
}

th{
  padding-left: 15px;
}

td{
  padding-left: 15px;
}

hr{
  height:1px;
  color:#e0e0e0;
  background-color:#e0e0e0;
}
